<html>
    <head>
        <link rel="stylesheet" href="index.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        
        <div id="root">
			<button v-on:click="toggle">Toggle</button>
			<span v-if="opened">
				<ol>
					<upgrade-item
						v-for="item in upgrades"
						v-bind:item="item"
						v-bind:key="item.id"
					/>
				</ol>
			</span>
			<input v-model="message"/>
			<p>{{message}}</p>
        </div>
        
        <script src="index.js"></script>
    </body>
</html>