<html>
    <head>
        <link rel="stylesheet" href="index.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, viewport-fit=cover">
		<meta content="IE=Edge" http-equiv="X-UA-Compatible">
		<title>VK Mini App Boilerplate</title>
    </head>
    <body>
        
        <div id="root">
			<button v-on:click="toggle">Toggle</button>
			<span v-if="opened">
				<ol>
					<upgrade-item
						v-for="item in upgrades"
						v-bind:item="item"
						v-bind:key="item.id"
					/>
				</ol>
			</span>
			<input v-model="message"/>
			<p>{{message}}</p>
        </div>
        
        <script src="index.js"></script>
    </body>
</html>